// Primary
$primary-900: #023436; // Deep Teal
$primary-700: #037971; // Ocean Teal
$primary-600: #049a8f; // Jade Teal
$primary-500: #03b5aa; // Bright Turquoise
$primary-400: #00bfb4; // Aqua Cyan

// Neutral
$neutral-950: #040f0f; // Rich Black
$neutral-300: #85bdbf; // Mist Teal
$neutral-100: #c2fcf7; // Ice Mint
